

<div class='container form-styling'>
  <h2 class='mb-4'>Update Drone</h2>

  <form action='/drones/create' method='post'>

    <input
      value='{{this.name}}'
      class='form-control mb-2'
      placeholder='Name'
      type='text'
      name='name'
    />
    <input
      class='form-control mb-2'
      value='{{this.propellers}}'
      placeholder='Propellers'
      type='number'
      name='propellers'
    />
    <input
      value='{{this.maxSpeed}}'
      class='form-control mb-4'
      placeholder='Max Speed'
      type='number'
      name='maxSpeed'
    />

    <button class='btn btn-light' type='submit'>Create Drone</button>
  </form>
</div>